.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.active-ul {
  display: block !important;
}

ul {
  display: none;
}

li {
  cursor: pointer;
}

* {overflow-x: hidden;}

li {
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

.active-li > ul {
  display: block;
}

.footerComp > .nav {
  background-color: rgb(250, 248, 248);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  color: #444;
  border-bottom: 2px solid #aaa5;
  justify-content: flex-end;
  height: 30px;
  z-index: 1000;
}

.footerComp > .nav > .tabs a {
  margin-left: 15px;
  text-decoration: none;
  color: #444;
}

.footerComp > .nav > .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  top: 0;
}

.footerComp > .nav > .controls span {
  text-decoration: none;
  color: #444;
  padding: 0;
}

.maximize .card-header{
  height: 110px;
}

.maximize {
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100vw - 30px) !important;
  height: calc(100vh - 100px) !important;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa;
  z-index: 10001;
  transition: 500ms;
}

.resize-none {
  resize: none;
}

.srch-box {
  padding: 5px;
  border: 0 !important;
  outline: none !important;
  transition: 500ms;
  font-size: 20px;
  height: 40px;
  color: #555;
  border-bottom: 1px solid #aaa !important;
}

.srch-box:focus {
  border: #aaa !important;
  border-radius: 5px;
  background-color: #eee !important;
}

.srch-icon {
  right: 12px;
  top: 10px;
  color: #999;
}

.minimized {
  background-color: rgb(202, 200, 200);
  border-radius: 5px;
}

.c-pointer {
  cursor: pointer;
}

.smoothmove {
  transition: 300ms;
}

.tab {
  padding: 5px;
  cursor: pointer;
}

.activeTab {border-bottom: 2px solid darkblue;}

.tabbar {
  border-bottom: 1px solid #777;
}

.collapsing {
  position: absolute;
  top: 50%;
  right: -8px;
  width: 25px;
  height: 25px !important;
  z-index: 1000;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden !important;
}

ul {
  padding-left: 1em !important;
}