.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.active-ul {
  display: block;
}

ul {
  display: none;
}

li {
  cursor: pointer;
}

li {
  list-style-type: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.active-li > ul {
  display: block;
}

.footerComp {
  position: relative;
}

.footerComp > nav {
  background-color: rgb(250, 248, 248);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 5px;
  color: #444;
  border-bottom: 2px solid #aaa5;
  justify-content: space-between;
}

.footerComp > nav > .tabs a {
  margin-left: 15px;
  text-decoration: none;
  color: #444;
}

.footerComp > nav > .controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50px;
}

.footerComp > nav > .controls span {
  text-decoration: none;
  color: #444;
  padding: 0;
}

.maximize {
  position: fixed;
  top: 15px;
  left: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa;
  z-index: 100;
  transition: 500ms;
}
